.calculator__title {
  font-family: SpaceMonoRegular;
  color: #788583;
  margin: 20px 0 10px;
  padding: 0;
  width: 200px;
}

@media screen and (max-width: 890px) {
  .calculator__title {
    margin: 25px 0 10px;
  }
}