.header__logo {
  width: 100px;
  height: 60px;
  color: #5a797e;
  margin: 145px auto 80px;
  background: url(../../../images/logo.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 890px) {
  .header__logo  {
    margin: 60px 0 40px 0;
  }
}