.calculator__result {
  background: #00484c;
  margin: 30px 40px 30px 10px;
  width: 100%;
  padding: 25px 0 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}
