@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/calculator/calculator.css);
@import url(../blocks/calculator/__options/calculator__options.css);
@import url(../blocks/calculator/__button-reset/calculator__button-reset.css);
@import url(../blocks/calculator/__calculated-span/calculator__calculated-span.css);
@import url(../blocks/calculator/__calculated-sum/calculator__calculated-sum.css);
@import url(../blocks/calculator/__calculated-title/calculator__calculated-title.css);
@import url(../blocks/calculator/__calculated/calculator__calculated.css);
@import url(../blocks/calculator/__field/calculator__field.css);
@import url(../blocks/calculator/__input/calculator__input.css);
@import url(../blocks/calculator/__options/calculator__options.css);
@import url(../blocks/calculator/__result/calculator__result.css);
@import url(../blocks/calculator/__tips/calculator__tips.css);
@import url(../blocks/calculator/__tip/calculator__tip.css);
@import url(../blocks/calculator/__title/calculator__title.css);
@import url(../blocks/calculator/__input/calculator__input_type_custom.css);
@import url(../blocks/calculator/__input-error/calculator__input-error.css);
@import url(../blocks/calculator/__field-name/calculator__field-name.css);
@import url(../blocks/calculator/__input-error/_active/calculator__input-error_active.css);

@font-face {
  font-family: SpaceMonoRegular;
  src: url(../vendor/fonts/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: SpaceMonoBold;
  src: url(../vendor/fonts/SpaceMono-Bold.ttf);
}
