.calculator__input_type_custom {
  margin: 0;
  width: 100px;
  padding: 0;
}

.calculator__input_type_custom:focus {
  outline: none;
  background-color: white;
}

@media screen and (max-width: 890px) {
  .calculator__input_type_custom {
    width: 135px;
    text-align: center;
  }
}