.calculator__input {
  padding: 0;
  margin: 0 0 15px;
  width: 90%;
  height: 40px;
  background-color: #f4f7fc;
  border: none;
  font-family: SpaceMonoBold;
  letter-spacing: 1px;
  color: #00484c;
  text-align: end;
  font-size: 25px;
  padding-right: 20px;
}

.calculator__input:focus {
  outline: 2px solid #77a9a5;
}
